GROQ_API_KEY=replace_me

MONGODB_URI=mongodb+srv://DB_USER:DB_PASSWORD@IntelligentAssessmentEngine.mongodb.net/?retryWrites=true&w=majority&appName=IntelligentAssessmentEngine
MONGODB_DB_NAME=rp_intelligent_assessment_engine

API_BASE_URL=http://localhost:8001

CHROMA_PERSIST_DIR=data/chroma_db
SKILLS_XLSX_PATH=data/skills/Skill-Heirarchies-G6-G9-Full-Chapters.xlsx

LLM_PROVIDER=groq
OPENAI_API_KEY=replace_me
OPENAI_MODEL=gpt-4o-mini

